In [20]:
import pandas as pd
import plotly_express as px
import hashlib as hl

In [16]:
athletes = pd.read_csv("../Data/athlete_events.csv")
hashed_names = athletes["Name"].apply(lambda x: hl.sha256(x.encode()).hexdigest())
athletes.insert(1,"Hashed name", hashed_names)
athletes = athletes.drop(columns="Name")
athletes = athletes.drop_duplicates(subset=["Medal", "Games","Event"])
all_countries_df = athletes
all_countries_df["Total"] = all_countries_df["ID"]
all_countries_df.drop(axis=1, columns=["ID", "Hashed name", "Team"])
italy_df = athletes[athletes["NOC"]=="ITA"]
italy_df["Total"] = italy_df["ID"]
italy_df.drop(axis=1,columns=["ID", "Hashed name", "Team", "NOC"], inplace=True)

C:\Users\lukas\AppData\Local\Temp/ipykernel_12108/2000982763.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  italy_df["Total"] = italy_df["ID"]
C:\Users\lukas\.virtualenvs\os-projekt-databehandling-k71B11MU\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [17]:
italy_df

,Sex,Age,Height,Weight,Games,Year,Season,City,Sport,Event,Medal,Total
158,M,21.0,198.0,90.0,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze,62
197,M,27.0,190.0,80.0,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 110 metres Hurdles,NaN,91
198,M,21.0,180.0,73.0,2008 Summer,2008,Summer,Beijing,Football,Football Men's Football,NaN,92
214,M,25.0,NaN,NaN,1936 Summer,1936,Summer,Berlin,Modern Pentathlon,Modern Pentathlon Men's Individual,Bronze,103
218,M,22.0,188.0,96.0,1988 Summer,1988,Summer,Seoul,Rowing,Rowing Men's Quadruple Sculls,Gold,106
...,...,...,...,...,...,...,...,...,...,...,...,...
270258,M,32.0,181.0,88.0,2006 Winter,2006,Winter,Torino,Luge,Luge Men's Singles,Gold,135196
270259,M,36.0,181.0,88.0,2010 Winter,2010,Winter,Vancouver,Luge,Luge Men's Singles,Bronze,135196
270260,M,40.0,181.0,88.0,2014 Winter,2014,Winter,Sochi,Luge,Luge Men's Singles,Bronze,135196
270412,M,29.0,184.0,75.0,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Men's Sprint,Bronze,135263
270715,M,20.0,NaN,NaN,1948 Summer,1948,Summer,London,Boxing,Boxing Men's Bantamweight,Silver,135384

In [26]:
fig = px.line(italy_df, x="Age", y="Total")
fig.

Figure({
    'data': [{'hovertemplate': 'Age=%{x}<br>Total=%{y}<extra></extra>',
              'legendgroup': '',
              'line': {'color': '#636efa', 'dash': 'solid'},
              'marker': {'symbol': 'circle'},
              'mode': 'lines',
              'name': '',
              'orientation': 'v',
              'showlegend': False,
              'type': 'scatter',
              'x': array([21., 27., 21., ..., 40., 29., 20.]),
              'xaxis': 'x',
              'y': array([    62,     91,     92, ..., 135196, 135263, 135384], dtype=int64),
              'yaxis': 'y'}],
    'layout': {'legend': {'tracegroupgap': 0},
               'margin': {'t': 60},
               'template': '...',
               'xaxis': {'anchor': 'y', 'domain': [0.0, 1.0], 'title': {'text': 'Age'}},
               'yaxis': {'anchor': 'x', 'domain': [0.0, 1.0], 'title': {'text': 'Total'}}}
})